.Rproj.user
.Rhistory
.RData
.Ruserdata

simplified_r_statistic/rsconnect/*
presentations/**/*.pdf
presentations/**/*.html
presentations/**/*.csv
!presentations/Results/table_1\ -\ Description of Rt Estimation Methods.csv
presentations/**/*.tex
presentations/Results/Figure_1.png
simplified_r_statistic/case_data.csv
simplified_r_statistic/initial_data.csv
simplified_r_statistic/*.html
scratch/*
